In [7]:
import pandas as pd

df_qa = pd.read_csv('../data/processed/data_qa.csv')
df_qa_top = pd.read_csv('../data/processed/data_qa_popular.csv')
df_glossary = pd.read_csv('../data/processed/data_glossary.csv')

# Preprocessing

In [8]:
df_qa = df_qa.iloc[2:, 2:]# Сбрасываем индексы
df_glossary = df_glossary.iloc[1:, 1:]
df_qa_top = df_qa_top.iloc[1:, 1:]
df_glossary.rename(columns={'Сокращение': 'category', 'Расшифровка': 'description'}, inplace=True)
df_qa.reset_index(drop=True, inplace=True)

In [13]:
df_glossary

  category                     description
1      БиР             Беременность и роды
2       зп                заработная плата
3     НДФЛ  Налог на доходы физических лиц
4      СТД        срочный трудовой договор
5       ТК                трудовой договор
6       АО                 авансовый отчет
7      SLA                           сроки
8      ЭЦП    электронная цифровая подпись
9       КР                 кадровый резерв

In [14]:
df_qa

,question,content,category
0,добавить автомобиль,Для внесения данных по личному автомобилю обра...,автомобиль
1,хочу внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
2,Как внести данные об автомобиле?,Для внесения данных по личному автомобилю обра...,автомобиль
3,мне нужно внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
4,внести машину,Для внесения данных по личному автомобилю обра...,автомобиль
...,...,...,...
1669,Ошибка 500,Данная ошибка возможна при переходе на портал\...,обучение
1670,при входе на портал обучения выходит ошибка 505,Данная ошибка возможна при переходе на портал\...,обучение
1671,привязать другой номер к карте лояльности,Для изменения привязанного номера к карте лоял...,ЛК
1672,Не открывается итоговый тест на директора мага...,"Создайте, пожалуйста, обращение в ИТ поддержк...",поддержка
1673,номер поддержки подскажите пожалуйста,Для оформления обращения в техническую поддерж...,поддержка

In [15]:
################################################################ 
## Все ли вопросы релевантны
df_qa_top

,Ответ,Вопрос
1,Чат-бот находится в стадии пилотирования и обу...,Уберите этот чат бот он очень мешает
2,Чат-бот находится в стадии пилотирования и обу...,вернуть старый дизайн
3,Для оформления обращения в техническую поддерж...,хочу создать заявку
4,Для оформления обращения в техническую поддерж...,мне нужно создать заявку
5,Чат-бот находится в стадии пилотирования и обу...,бот тупой
6,Чат-бот находится в стадии пилотирования и обу...,бот не помогает
7,Чат-бот находится в стадии пилотирования и обу...,как убрать бота
8,Для оформления обращения в техническую поддерж...,мне сказали создать заявку в поддержке
9,Для оформления обращения в техническую поддерж...,выход
10,Чат-бот находится в стадии пилотирования и обу...,вернуться на старый портал
11,Чат-бот находится в стадии пилотирования и обу...,нужен оператор

### Кластеризация групп

In [18]:
df_qa['category'].unique()
# df_qa

array(['автомобиль', 'БиР', 'больничный', 'график работы', 'доверенность',
       'зарплата', 'заявки', 'командировка', 'ЛК', 'материальная помощь',
       'моя карьера', 'МЧД', 'налоговый вычет', 'отгул', 'отпуск',
       'перевод', 'поддержка', 'ЭЦП', 'документооборот',
       'прием на работу', 'СБ', 'справка', 'табель', 'увольнение',
       'удаленная работа', 'уход за больным', 'SED', 'выручай-карта',
       'дмс', 'оператор', 'обучение', 'Отпуск'], dtype=object)

In [19]:
df_qa

,question,content,category
0,добавить автомобиль,Для внесения данных по личному автомобилю обра...,автомобиль
1,хочу внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
2,Как внести данные об автомобиле?,Для внесения данных по личному автомобилю обра...,автомобиль
3,мне нужно внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
4,внести машину,Для внесения данных по личному автомобилю обра...,автомобиль
...,...,...,...
1669,Ошибка 500,Данная ошибка возможна при переходе на портал\...,обучение
1670,при входе на портал обучения выходит ошибка 505,Данная ошибка возможна при переходе на портал\...,обучение
1671,привязать другой номер к карте лояльности,Для изменения привязанного номера к карте лоял...,ЛК
1672,Не открывается итоговый тест на директора мага...,"Создайте, пожалуйста, обращение в ИТ поддержк...",поддержка
1673,номер поддержки подскажите пожалуйста,Для оформления обращения в техническую поддерж...,поддержка

In [17]:
df_glossary

  category                     description
1      БиР             Беременность и роды
2       зп                заработная плата
3     НДФЛ  Налог на доходы физических лиц
4      СТД        срочный трудовой договор
5       ТК                трудовой договор
6       АО                 авансовый отчет
7      SLA                           сроки
8      ЭЦП    электронная цифровая подпись
9       КР                 кадровый резерв

In [10]:
categories = df_qa['category'].unique()

In [11]:
df_qa[df_qa['category'] == categories[0]]

,question,content,category
0,добавить автомобиль,Для внесения данных по личному автомобилю обра...,автомобиль
1,хочу внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
2,Как внести данные об автомобиле?,Для внесения данных по личному автомобилю обра...,автомобиль
3,мне нужно внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
4,внести машину,Для внесения данных по личному автомобилю обра...,автомобиль
5,"При смене автомобиля, который используется в с...",Для внесения данных по личному автомобилю обра...,автомобиль

In [12]:
df_qa[df_qa.duplicated(subset=['question'], keep=False)].iloc[0]

,question,content,category
503,вход в личный кабинет,"При проблемах со входом в личный кабинет, преж...",ЛК
930,надбавка,"Создайте, пожалуйста, обращение в ИТ поддержку...",поддержка
1662,надбавка,По данному вопросу Вы можете обратиться в кадр...,ЛК
1667,вход в личный кабинет,"При проблемах со входом в личный кабинет, преж...",ЛК

In [21]:
df_qa.iloc[930]['content']

'Создайте, пожалуйста, обращение в ИТ поддержку на портале support'

In [22]:
df_qa.iloc[1662]['content']

'По данному вопросу Вы можете обратиться в кадровую службу, создав заявку "Консультация по HR вопросам"'

In [31]:
df_qa.query("category == 'поддержка'")

,question,content,category
880,некорректная надбавка,"Создайте, пожалуйста, обращение в ИТ поддержку...",поддержка
881,сделать заявку,"Создайте, пожалуйста, обращение в ИТ поддержку...",поддержка
882,делигирование задач,"Создайте, пожалуйста, обращение в ИТ поддержку...",поддержка
883,ошибка rfc: файл эп с таким compid уже существует,"Создайте, пожалуйста, обращение в ИТ поддержку...",поддержка
884,не могу пройти тест,"Создайте, пожалуйста, обращение в ИТ поддержку...",поддержка
...,...,...,...
1396,"Табель был закрыт утром, но напоминание о не з...","Создайте, пожалуйста, обращение в ИТ поддержк...",поддержка
1656,не закрыли стожировку вовремя,"Создайте, пожалуйста, обращение в ИТ поддержк...",поддержка
1668,вернуть трек обучения,"Создайте, пожалуйста, обращение в ИТ поддержк...",поддержка
1672,Не открывается итоговый тест на директора мага...,"Создайте, пожалуйста, обращение в ИТ поддержк...",поддержка
1673,номер поддержки подскажите пожалуйста,Для оформления обращения в техническую поддерж...,поддержка

In [33]:
df_qa['category'].unique()

array(['автомобиль', 'БиР', 'больничный', 'график работы', 'доверенность',
       'зарплата', 'заявки', 'командировка', 'ЛК', 'материальная помощь',
       'моя карьера', 'МЧД', 'налоговый вычет', 'отгул', 'отпуск',
       'перевод', 'поддержка', 'ЭЦП', 'документооборот',
       'прием на работу', 'СБ', 'справка', 'табель', 'увольнение',
       'удаленная работа', 'уход за больным', 'SED', 'выручай-карта',
       'дмс', 'оператор', 'обучение', 'Отпуск'], dtype=object)

In [34]:
df_glossary

  category                     description
1      БиР             Беременность и роды
2       зп                заработная плата
3     НДФЛ  Налог на доходы физических лиц
4      СТД        срочный трудовой договор
5       ТК                трудовой договор
6       АО                 авансовый отчет
7      SLA                           сроки
8      ЭЦП    электронная цифровая подпись
9       КР                 кадровый резерв