In [12]:
import pandas as pd

df_qa = pd.read_csv('../data/processed/data_qa.csv')
df_qa_top = pd.read_csv('../data/processed/data_qa_popular.csv')
df_glossary = pd.read_csv('../data/processed/data_glossary.csv')

# Preprocessing

In [13]:
df_qa = df_qa.iloc[2:, 2:]# Сбрасываем индексы
df_glossary = df_glossary.iloc[1:, 1:]
df_qa_top = df_qa_top.iloc[1:, 1:]
df_glossary.rename(columns={'Сокращение': 'category', 'Расшифровка': 'description'}, inplace=True)
df_qa.reset_index(drop=True, inplace=True)

In [14]:
df_qa['category'].unique()

array(['автомобиль', 'БиР', 'больничный', 'график работы', 'доверенность',
       'зарплата', 'заявки', 'командировка', 'ЛК', 'материальная помощь',
       'моя карьера', 'МЧД', 'налоговый вычет', 'отгул', 'отпуск',
       'перевод', 'поддержка', 'ЭЦП', 'документооборот',
       'прием на работу', 'СБ', 'справка', 'табель', 'увольнение',
       'удаленная работа', 'уход за больным', 'SED', 'выручай-карта',
       'дмс', 'оператор', 'обучение', 'Отпуск'], dtype=object)

In [19]:
categories = df_qa['category'].unique()

In [23]:
df_qa[df_qa['category'] == categories[0]]

,question,content,category
0,добавить автомобиль,Для внесения данных по личному автомобилю обра...,автомобиль
1,хочу внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
2,Как внести данные об автомобиле?,Для внесения данных по личному автомобилю обра...,автомобиль
3,мне нужно внести данные об автомобиле,Для внесения данных по личному автомобилю обра...,автомобиль
4,внести машину,Для внесения данных по личному автомобилю обра...,автомобиль
5,"При смене автомобиля, который используется в с...",Для внесения данных по личному автомобилю обра...,автомобиль

In [25]:
df_qa[df_qa.duplicated(subset=['question'], keep=False)]

,question,content,category
503,вход в личный кабинет,"При проблемах со входом в личный кабинет, преж...",ЛК
930,надбавка,"Создайте, пожалуйста, обращение в ИТ поддержку...",поддержка
1662,надбавка,По данному вопросу Вы можете обратиться в кадр...,ЛК
1667,вход в личный кабинет,"При проблемах со входом в личный кабинет, преж...",ЛК